.mint-container {
    text-align: center;
    padding: 30px 10px;
    background-color: #f9f9f9;
    max-width: 90%;
    margin: 20px auto;
  }
   
  .mint-header {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
   
  .mint-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px; /* Space between cards */
  }
   
  .mint-card {
    border-radius: 10px;
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    background-color: white;
    text-align: left;
    width: calc(50% - 40px); /* Two cards per row with spacing */
    display: flex;
    align-items: center; /* Vertically center content */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation effect */
  }
   
  .mint-card:hover {
    transform: translateY(-10px) scale(1.02); /* Lift the card and slightly enlarge it */
    box-shadow: 0 8px 16px rgba(111, 78, 55, 0.6); /* Darker and larger shadow */
  }
   
  .mint-card-content {
    display: flex;
    align-items: center;
    width: 100%;
  }
   
  .mint-icon {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    flex-shrink: 0; /* Prevent icon from shrinking */
    font-size: 2rem; /* Set size for the icons */
    color: #6F4E37; /* Light neon brown */
    /* text-shadow: 0 0 10px #6F4E37; */
  }
   
  .mint-text-content {
    flex: 1;
    color: black;
  }
   
  .mint-title {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
  }
   
  .mint-description {
    color: #000000;
  }
   
  /* Responsive Design */
  @media (max-width: 768px) {
    .mint-card {
      width: calc(100%); /* Full width on smaller screens */
    }
   
    .mint-header {
      font-size: 2rem; /* Smaller font size for header */
    }
   
    .mint-icon {
      font-size: 1.5rem; /* Smaller icon size */
    }
   
    .mint-title {
      font-size: 1.2rem; /* Smaller title size */
    }
  }