@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  font-size: 15px;

  /* Primary */
  --var-soft-blue: hsl(215, 51%, 70%);
  --var-cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --var-main-darkest: hsl(217, 54%, 11%);
  --var-card-dark: hsl(216, 50%, 16%);
  --var-arist-line-dark: hsl(215, 32%, 27%);
  --var-lightest: white;

  /* Fonts */

  --var-heading: normal normal 600 1.5em/1.6em "Outfit", sans-serif;

  --var-small-heading: normal normal 400 1em/1em "Outfit", sans-serif;

  --var-para: normal normal 300 1em/1.55em "Outfit", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

.hero-image {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: block;
}

a {
  color: inherit;
}

/* 

Eye view

https://i.postimg.cc/9MtT4GZY/view.png' border='0' alt='view */

/*
=========================
Font Styling
=========================
*/
.eth-heading {
  font: var(--var-heading);
  color: var(--var-lightest);
  padding: 1.2em 0;
}

h2 {
  font: var(--var-small-heading);
  color: var(--var-lightest);
  /* padding on .coin-base */
}

/* span {
  color: white;
} */
/* 
=====================
Classes
=====================
*/

/* LAYOUT */
.nft-main-box {
  width: 100%;
  display: flex;
  padding: 10px;
  background-image: linear-gradient(to bottom, #010219 50%, #fce7f0 50%);
}
.nft-left-box {
  width: 70%;
  /* padding: 2em; */
  /* text-align: -webkit-center; */
  margin: 10px;
}
.nft-right-box {
  width: 30%;
  margin: 10px;
}

.nft-left-upper,
.nft-left-lower {
  margin-left: 10em;
}
.nft-heading h1 {
  font-size: 90px;
  /* padding:0  1em; */
  color: white;
}
.nft-des {
  color: white;
}

.btn-div {
  margin: 20px 0px;
}

.nft-left-lower {
  display: flex;
  padding: 2em 0;
  /* margin: 50px 0px; */
}

.nft-lower-left,
.nft-lower-right {
  position: relative;
  width: 100%; /* Full width for responsiveness */
  max-width: 450px; /* Limit maximum width */
  height: auto; /* Adjust height based on image aspect ratio */
  overflow: hidden !important;
  margin: 50px 20px 0px 20px;
}

.nft-img {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.nft-img img {
  width: 100%;
  height: 250px; /* Maintain aspect ratio */
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.img-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%; /* Visible height before hover */
  background: rgba(255, 255, 255, 0.2); /* Glass effect */
  backdrop-filter: blur(40px); /* Glass effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  border-radius: 20px;
  box-sizing: border-box;
  opacity: 0.8;
}
.img-content-artist {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  margin: 5%;
  width: 90%;
  height: 15%; /* Visible height before hover */
  background: rgba(255, 255, 255, 0.2); /* Glass effect */
  backdrop-filter: blur(10px); /* Glass effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0.8;
}

.card-attribute {
  display: flex;
}

.display-flex {
  display: flex;
}
/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 50px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  margin: 0px 5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 10px 20px;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    /* min-width: 196px; */
  }
}
.img-content-artist h1 {
  margin: auto;
  justify-content: center;
  color: white;
}

.img-content h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.img-content p {
  margin: 5px 0 0 0;
  font-size: 0.9rem;
  font-weight: bold;
}

.nft-img:hover .img-content {
  height: 100%;
  opacity: 1;
}

/* Mil-text-img */

.mil-text-image {
  height: 60px;
  width: 195px;
  display: inline-block;
  overflow: hidden;
  border-radius: 70px;
  margin-left: 30px;
}

.mil-text-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-text-image:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.5);
}

@media screen and (max-width: 768px) {
  .mil-text-image {
    display: none;
  }
}

/* artist-stats */
.nft-artist-stats-artist {
  display: flex;
  width: 100%;
  max-width: 450px;
  justify-content: center;
  padding: 20px 15px;
  border-radius: 20px;
  background-color: var(--var-card-dark);
}

.artist-stat {
  text-align: center;
}
.arist-line {
  width: 3px; /* Thickness of the arist-line */
  height: 70px; /* Set a fixed height or use 100% for full height */
  border-radius: 4px;
  margin: 0px 25px;
  background-color: #a67b5b; /* Color of the arist-line */
}

.nft-artist-stats-artist .artist-stat:not(:last-child) .arist-line {
  height: 100%; /* Full height of the parent container */
}

.artist-stat h2 {
  font-size: 1.5em;
  margin: 5px 0;
  font-weight: bold;
  color: white;
}

.artist-stat p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .nft-lower-left {
    max-width: 100%; /* Full width on tablets */
  }

  .img-content h1 {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  .img-content p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .nft-lower-left {
    max-width: 100%; /* Full width on mobile devices */
  }

  .img-content h1 {
    font-size: 1rem; /* Adjust font size for mobile */
  }

  .img-content p {
    font-size: 0.7rem;
  }

  .img-content {
    padding: 8px; /* Adjust padding on smaller screens */
  }
  .nft-left-upper,
  .nft-left-lower {
    margin-left: 0em;
  }
  .nft-left-box,.nft-right-box {
    margin: 0px;
  }
  
}
.card-container-box {
  width: 100%;
  max-width: 450px;
  background-color: var(--var-card-dark);
  border-radius: 15px;
  margin-bottom: 1rem;
  margin-top: 30px;
}

div.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.coin-base,
.time-left,
.card-attribute {
  align-items: center;
  padding: 0.5em 0;
  text-align: -webkit-center;
  color: white;
}

.card-attribute {
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--var-line-dark);
}

a.hero-image-container {
  position: relative;
  display: block;
}

/* Details */

img.eye {
  position: absolute;
  width: 100%;
  max-width: 2em;
  top: 44%;
  left: 43%;
}

@media (min-width: 400px) {
  img.eye {
    max-width: 3em;
  }
}

.hero-image-container:hover::after {
  opacity: 1;
}

.small-image {
  width: 1.2em;
  margin: 10px;
}

.small-avatar {
  width: 2em;
  border-radius: 200px;
  outline: 2px solid white;
  margin-right: 1.4em;
}

@media (min-width: 600px) {
  /* body {
    font-size: 18px;
  } */
}
/* General iPad (all models) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.nft-left-lower {
    display: flex;
    gap: 16px;
    flex-direction: row;
}
.nft-left-upper, .nft-left-lower{
    margin: 0;
}
.nft-left-box{
    margin: 0px;
}
  }
  

/* Responsive for Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  .nft-main-box {
    flex-direction: column;
    height: auto;
  }

  .nft-left-box,
  .nft-right-box {
    width: 100%;
    padding: 1.5em;
    text-align: -webkit-center;
  }

  .nft-left-upper {
    margin-left: 1.5em;
  }

  .nft-heading h1 {
    font-size: 3rem;
  }

  .nft-left-lower {
    flex-direction: row;
    align-items: center;
    display: none;
  }

  .nft-lower-left,
  .nft-lower-right {
    max-width: 100%;
    margin: 0;
  }

  .nft-img img {
    height: auto;
  }

  .nft-artist-stats-artist {
    flex-direction: column;
  }

  .artist-stat {
    margin-bottom: 1em;
  }

  .arist-line {
    display: none;
  }
  .card-container-box,.nft-artist-stats-artist{
    margin: 10px auto;
  }
}

/* Responsive for Small Tablets and Large Phones (max-width: 768px) */
@media (max-width: 768px) {
  .nft-heading h1 {
    font-size: 2.5rem;
    color: black;
    text-align: center;
  }

  
  .mil-text-image {
    display: none;
  }

  .nft-left-upper, .nft-left-lower{
    margin: 0;
}

  .nft-left-box,
  .nft-right-box {
    padding: 1em;
    order: 2;
    margin: 0;
  }
  .nft-right-box{
    order: 1;
  }

  .nft-left-upper {
    margin-left: 0;
  }

  .button-64 {
    font-size: 16px;
    padding: 5px 10px;
  }

  .nft-left-lower {
    padding: 1em 0;
  }

  .nft-artist-stats-artist {
    padding: 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
  }

  .artist-stat{
    margin: 1em;
  }

  .artist-stat h2 {
    font-size: 1.2em;
  }

  .artist-stat p {
    font-size: 1em;
  }

  .card-container-box {
    padding: 1em;
    margin: 10px auto;
  }

  .nft-lower-left,
  .nft-lower-right {
    max-width: 100%;
  }

  .small-image {
    width: 1.5em;
  }
  .nft-des{
    color: black;
  }
}

/* Responsive for Phones (max-width: 480px) */
@media (max-width: 480px) {
  .nft-heading h1 {
    font-size: 2rem;
    text-align: center;
  }

  .nft-left-upper {
    margin-left: 0;
  }

  .nft-left-lower {
    flex-direction: column;
    align-items: center;
  }

  .nft-lower-left,
  .nft-lower-right {
    max-width: 100%;
    margin: 0;
  }

  .img-content h1 {
    font-size: 1.5rem;
  }

  .img-content p {
    font-size: 0.8rem;
  }

  .nft-right-box {
    width: 100%;
    padding: 1em;
  }

  .card-container-box {
    padding: 1rem;
    margin: 0.5rem auto;
  }

  .flex-row {
    flex-direction: column;
    text-align: center;
  }

  .small-image {
    width: 1.2em;
  }

  .button-64 {
    font-size: 14px;
    padding: 5px;
  }
}

/* Responsive for Extra Small Devices (max-width: 320px) */
@media (max-width: 320px) {
  .nft-heading h1 {
    font-size: 1.5rem;
  }

  .nft-left-box,
  .nft-right-box {
    padding: 0.5em;
  }

  .nft-left-lower {
    padding: 0.5em 0;
  }

  .card-container-box {
    padding: 0.5rem;
  }

  .button-64 {
    font-size: 12px;
    padding: 3px;
  }

  .small-image {
    width: 1em;
  }
}

/* Default Gradient for Desktop */
.nft-main-box {
  width: 100%;
  display: flex;
  background-image: linear-gradient(to bottom, #010219 62%, #fce7f0 33%);
}

/* Responsive for Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  .nft-main-box {
    background-image: linear-gradient(to bottom, #010219 55%, #fce7f0 45%);
  }
}

/* Responsive for Small Tablets and Large Phones (max-width: 768px) */
@media (max-width: 768px) {
  .nft-main-box {
    background-image: linear-gradient(to bottom, #010219 50%, #fce7f0 50%);
  }
}

/* Responsive for Phones (max-width: 480px) */
@media (max-width: 480px) {
  .nft-main-box {
    background-image: linear-gradient(to bottom, #010219 45%, #fce7f0 55%);
  }
}

/* Responsive for Extra Small Devices (max-width: 320px) */
@media (max-width: 320px) {
  .nft-main-box {
    background-image: linear-gradient(to bottom, #010219 40%, #fce7f0 60%);
  }
}
