help-page {
  font-family: Arial, sans-serif;
  /* background: linear-gradient(to bottom, white, #e1e1e1); */
  margin-bottom: 1rem;
}
 
.help-header {
  color:black;
  text-align: center;
}
 
.search-bar{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  background: transparent;
 
}
.form-control{
  border-color: #f3761e !important;
}
.help-header .search-bar input {
  max-width: 100%;
  border-radius: 25px 0 0 25px;
  color: black;
}
 
.help-header .search-bar .btn {
  background-color: #e47423;
  border: none;
  border-radius: 0 25px 25px 0 ;
}
 
.help-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 2rem;
}
 
.help-main {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 100px #96d7f064;
}
 
.help-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
 
.help-card {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 1px;
}
 
.help-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #e47423;
}
 
.help-card .icon {
  font-size: 2rem;
  margin-right: 1rem;
  color:#e47423 !important;/* Change icon color to brown */
}
 
.help-card .content h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #e47423;
}

.help-subpage-tital{
  font-size: 1.25rem;
  font-weight: 600;
}

 
.help-card .content p {
  margin: 0;
  font-size: 16px;
}
 
@media (max-width: 768px) {
  .help-header .search-bar {
    flex-direction: column;
  }
 
  .help-header .search-bar input {
    border-radius: 25px;
    margin-bottom: 0.5rem;
  }
 
  .help-header .search-bar .btn {
    border-radius: 25px;
  }
 
  .help-header h1 {
    font-size: 36px;
  }
 
  .help-main {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
  }
 
  .help-card {
    flex-direction: column;
    text-align: center;
  }
 
  .help-card .icon {
    margin-bottom: 1rem;
  }
}
 
@media (max-width: 576px) {
  .help-header h1 {
    font-size: 28px;
  }
 
  .help-main {
    padding: 1rem 0.5rem;
  }
 
  .help-card .content h2 {
    font-size: 1rem;
  }
 
  .help-card .content p {
    font-size: 0.875rem;
  }
}
 