.roadmap-container {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding: 50px 0;
  }
   
  .roadmap {
    position: relative;
    width: 98%;
    margin: auto;
  }
   
  .roadmap-item {
    position: relative;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    /* opacity: 0; */
    /* transform: translateY(50px); Slide from below */
    /* transition: opacity 0.6s ease-out, transform 0.6s ease-out; */
  }
   
  .roadmap-item.left {
    right: 0%;
    /* transform: translateX(-30px); */
    text-align: left;
  }
   
  .roadmap-item.right {
    left: 50%;
    /* transform: translateX(30px); */
    text-align: left;
  }
   
  .roadmap-item.in-view {
    opacity: 1;
    transform: translateX(0) translateY(0); /* Reset transformation */
  }
   
  .roadmap-item .content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    margin: 15px;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  opacity: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: transform 0.6s ease-out; /* Animation for the content transform */
  }

  .roadmap-item.left .content {
    transform: translateX(-30px);
  }
  
  .roadmap-item.right .content {
    transform: translateX(30px);
  }
  
  /* Animation when the content is in view */
  .roadmap-item .content.in-view {
    opacity: 1;
    transform: translateX(0) translateY(0); /* Reset transformation */
  }
   
  .roadmap-item.left .content:hover {
    transform: perspective(1000px) rotateY(-5deg);
    transform-origin: right center;
  }
   
  .roadmap-item.right .content:hover {
    transform: perspective(1000px) rotateY(5deg);
    transform-origin: left center;
  }
   
  .roadmap-dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #A67B5B;
    border-radius: 50%;
    z-index: 1; /* Ensure dot is above the line */
  }
   
  .roadmap-item.left .roadmap-dot {
    top: 50%;
    transform: translate(50%, -50%);
    right: 0%;
  }
   
  .roadmap-item.right .roadmap-dot {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    left: 0%; /* Position dot at the start for right-aligned items */
  }
   
  .roadmap-item .content h2 {
    font-size: 18px;
    color: #000000c3;
    margin: 0;
  }
   
  .roadmap-item .content h3 {
    font-size: 24px;
    color: #000000d7;
    margin: 10px 0;
  }
   
  .roadmap-item .content p {
    font-size: 14px;
    color: #6a6a6a;
  }
   
  .roadmap-item .percentage-circle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }
   
  .roadmap-item.right .percentage-circle {
    right: 50px;
    top: -50px;
    animation: bounce 3s infinite;
  }
   
  .roadmap-item.left .percentage-circle {
    right: 120px;
    top: -50px;
    animation: pulse 2s infinite;
  }
   
  .roadmap-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #A67B5B;
    transform: translateX(-50%);
  }
   
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
      background-color: aqua;
    }
    40% {
      transform: translateY(-30px);
      background-color: #ff00ff;
    }
    60% {
      transform: translateY(-10px);
      background-color: lawngreen;
    }
  }
   
  @keyframes pulse {
    0% {
      transform: scale(1);
      background-color: #ff00ff;
    }
    25% {
      transform: scale(1.1);
      background-color: #ff69b4; /* Hot pink */
    }
    50% {
      transform: scale(1.2);
      background-color: #ff6347; /* Tomato */
    }
    75% {
      transform: scale(1.1);
      background-color: #ff4500; /* Orange Red */
    }
    100% {
      transform: scale(1);
      background-color: #ff00ff;
    }
  }
   
  /* Responsive Styles */
  @media (max-width: 768px) {
    .roadmap-item {
      width: 100%;
      text-align: center;
      transform: translateX(0) translateY(0); /* Reset transformation */
    }
   
    .roadmap-item.left, .roadmap-item.right {
      left: 0;
      right: 0;
      transform: none;
      text-align: center;
    }
   
    .roadmap-item .percentage-circle, .roadmap-line, .roadmap-dot {
      display: none;
    }
   
    .roadmap {
      width: 100%;
    }
  }